jb-divider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: var(--space-6);

  &::part(dot) {
    width: 3px;
    height: 3px;
    background: var(--neutral-9);
    border-radius: 100px;
  }
}