/**
 * Color palette
 *
**/
@layer theme {
  /* Neutral Palette */
  :root {
    --neutral-1: #111111;
    --neutral-2: #191919;
    --neutral-3: #222222;
    --neutral-4: #2a2a2a;
    --neutral-5: #313131;
    --neutral-6: #3a3a3a;
    --neutral-7: #484848;
    --neutral-8: #606060;
    --neutral-9: #6e6e6e;
    --neutral-10: #7b7b7b;
    --neutral-11: #b4b4b4;
    --neutral-11-5: #D1D1D1;
    --neutral-12: #eeeeee;

    @media (prefers-color-scheme: light) {
      & {
        --neutral-1: #fcfcfc;
        --neutral-2: #f9f9f9;
        --neutral-3: #f0f0f0;
        --neutral-4: #e8e8e8;
        --neutral-5: #e0e0e0;
        --neutral-6: #d9d9d9;
        --neutral-7: #cecece;
        --neutral-8: #bbbbbb;
        --neutral-9: #8d8d8d;
        --neutral-10: #838383;
        --neutral-11: #646464;
        --neutral-11-5: #424242;
        --neutral-12: #202020;
      }
    }
  }

  /* 3rd Party brand colors */
  :root {
    --color-discord: #5865F2;
    --color-marriagepact: rgba(255, 0, 59, 0.8);
    --color-twitter: #ffffff;
    --color-github: #fafbfc;
    --color-linkedin: #0A66C2;
    --color-google-docs: #4285F4;

    @media (prefers-color-scheme: light) {
      & {
        --color-twitter: #14171a;
        --color-github: #181717;
      }
    }
  }
}