# Ignore everything by default

**

# Include what's needed

!Dockerfile
!.dockerignore

!assets
!content
!layout
!lib
!blog.ts
!deno.json
!deno.lock

!service-account.json

!fly.toml

# Override excluding some internals
**/*.log
**/.DS_Store