.layout-page {
    display: grid;
    grid-template-columns: 420px 1fr 3fr;
    grid-template-areas:
        'about . content';
    
    // Auto-layout immediate children
    & > section:nth-child(1) { grid-area: about; }
    & > section:nth-child(2) { grid-area: content; }

    @media screen and (max-width: 1200px) {
        grid-template-columns: 420px 1fr 5fr;
    }

    @media screen and (max-width: 1200px) {
        display: block;
    }
}
