@layer elements {
  html, body {
    background: var(--color-bg);
  }
  
  /* TYPEOGRAPHY */
  
  h1 {
    color: var(--neutral-strong);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-8);
    letter-spacing: var(--type-spacing-8);
    line-height: var(--type-line-height-8);
    font-weight: 500;

    &[variant="small"] {
      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-7);
      letter-spacing: var(--type-spacing-7);
      line-height: var(--type-line-height-7);
      font-weight: 500;
    }

    &[variant="article"] {
      font-size: var(--type-size-7);
      letter-spacing: var(--type-spacing-7);
      line-height: var(--type-line-height-7);
      font-weight: 500;
    }
  }

  h2 {
    color: var(--neutral-strong);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-5);
    letter-spacing: var(--type-spacing-5);
    line-height: var(--type-line-height-5);
    font-weight: 500;

    &[variant="small"] {
      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-4);
      letter-spacing: var(--type-spacing-4);
      line-height: var(--type-line-height-4);
      font-weight: 500;
    }
  }

  h3 {
    color: var(--neutral-strong);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-5);
    letter-spacing: var(--type-spacing-5);
    line-height: var(--type-line-height-5);
    font-weight: 700;
  }

  a {
    color: var(--neutral-11-5);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-3);
    letter-spacing: var(--type-spacing-3);
    line-height: var(--type-line-height-3);
    border-bottom: 1px solid var(--neutral-11-5);
    font-weight: 500;

    &[variant="box"] {
      color: var(--neutral-11-5);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-3);
      border: none;
      font-weight: 400;
    }

    &[variant="muted"] {
      color: var(--neutral-8);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-2);
      letter-spacing: var(--type-spacing-2);
      line-height: var(--type-line-height-2);
      font-weight: 400;
      border: none;
    }

    &[variant="surface"] {
      border: none;
      border-radius: 4px;
      margin: 0 calc(var(--space-1) * -1);
      /* overflow: hidden; */
      width: 100%;


      &:hover {
        background: var(--neutral-3);
      }

      /* Passthrough visited styling to link contents */
      &:visited :where(p, span) {
        color: var(--neutral-muted);
      }
    }
  }

  p {
    color: var(--neutral-normal);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-3);
    letter-spacing: var(--type-spacing-3);
    line-height: var(--type-line-height-3);

    &[variant="large"] {
      color: var(--neutral-muted);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-4);
      letter-spacing: var(--type-spacing-4);
      line-height: var(--type-line-height-6);
    }

    &[variant="muted"] {
      color: var(--neutral-8);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }

    &[variant="label"] {
      color: var(--neutral-12);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }
  }
  
  span {
    color: var(--neutral-normal);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-2);
    letter-spacing: var(--type-spacing-2);
    line-height: var(--type-line-height-2);

    &[variant="date"] {
      color: var(--neutral-11);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-2);
      letter-spacing: var(--type-spacing-2);
      line-height: var(--type-line-height-2);
      font-family: monospace;
    }

    &[variant="note-link"] {
      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-3);
      font-weight: 500;
      border-bottom: 1px solid var(--neutral-5);
      padding-bottom: 1px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }


  /* Misc */

  time {
    &[variant="label"] {
      color: var(--neutral-10);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }
  }

  article-content {
    & h1 {
      /* font-size: var(--type-size-6);
      letter-spacing: var(--type-spacing-6);
      line-height: var(--type-line-height-6); */
      font-size: var(--type-size-7);
      letter-spacing: var(--type-spacing-7);
      line-height: var(--type-line-height-7);
      padding-top: var(--space-5);
      font-weight: 500;
    }

    & h2 {
      padding-top: var(--space-4);

      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      /* font-size: var(--type-size-5);
      letter-spacing: var(--type-spacing-5);
      line-height: var(--type-line-height-5); */
      font-size: var(--type-size-6);
      letter-spacing: var(--type-spacing-6);
      line-height: var(--type-line-height-6);
      font-weight: 500;
    }

    & h3 {
      padding-top: var(--space-6);

      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      /* font-size: var(--type-size-4);
      letter-spacing: var(--type-spacing-4);
      line-height: var(--type-line-height-4); */
      font-size: var(--type-size-5);
      letter-spacing: var(--type-spacing-5);
      line-height: var(--type-line-height-5);
      font-weight: 500;
    }

    & p {
      color: var(--neutral-normal);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-5);
    }

    & a {
      color: var(--neutral-strong);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-5);
      border-bottom: 1px solid var(--neutral-9);
      font-weight: 700;
    }

    & strong {
      font-weight: 700;
    }

    & ul {
      list-style-position: outside;

      margin-left: var(--space-5);

      display: flex;
      flex-flow: column wrap;
      gap: var(--space-2);
    }

    & p + ul {
      /*
      Fix so that text that appears just above
      a list doesn't have added spacing
      */
      margin-top: calc(-1 * var(--space-4));
    }

    /* Change the list style based on depth */
    & ul { list-style-type: disc; }
    & ul ul { list-style-type: circle; }
    & ul ul ul { list-style-type: square; }

    /**
     * Give nested list containers some extra padding
     * so they honor the list-item gap
     */
    & li > ul {
      padding-top: var(--space-2);
    }

    & li {
      color: var(--neutral-normal);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      /* font-size: 15px; */
      letter-spacing: var(--type-spacing-4);
      line-height: var(--type-line-height-5);

      &::marker {
        font-size: var(--type-size-4);
        color: var(--neutral-8);
      }
    }
  }

  pre {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--neutral-5);

    & code {
      font-size: var(--type-size-2);
      display: block;
      overflow-x: auto;
      padding: 1em;

      /*
      This is a hard-coded hack to get Atom One colors
      for the code block background 
      */
      color: #abb2bf;
      background: var(--neutral-2);

      & span {
        color: inherit;
        font-family: inherit;
        font-size: var(--type-size-2);
        letter-spacing: inherit;
        line-height: inherit;
      }
    }
  }

  code {
    font-size: var(--type-size-2);
    background: var(--neutral-4);
    padding: 5px 6px;
    margin: -5px 0;
    border-radius: 5px;
  }

  svg.signature {
    fill: var(--neutral-8);
  }
}