@layer elements {
  body {
    background: var(--color-bg);
  }
  
  /* TYPEOGRAPHY */
  
  h1 {
    color: var(--color-type);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-8);
    letter-spacing: var(--type-spacing-8);
    line-height: var(--type-line-height-8);
    font-weight: 700;

    &[variant="article"] {
      font-size: var(--type-size-9);
      letter-spacing: var(--type-spacing-9);
      line-height: 68px;
    }
  }

  h2 {
    color: var(--color-type);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-6);
    letter-spacing: var(--type-spacing-6);
    line-height: var(--type-line-height-6);
    font-weight: 700;
  }

  h3 {
    color: var(--color-type);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-5);
    letter-spacing: var(--type-spacing-5);
    line-height: var(--type-line-height-5);
    font-weight: 700;
  }

  a {
    &[variant="muted"] {
      color: var(--neutral-8);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-2);
      letter-spacing: var(--type-spacing-2);
      line-height: var(--type-line-height-2);
    }

    /* Special style just for navigation logo */
    &[variant="signature"] {
      font-family: 'darlington', serif;
      font-size: var(--type-size-8);
      letter-spacing: var(--type-spacing-8);
      line-height: var(--type-line-height-8);
      font-weight: normal;
      color: var(--neutral-8);
    }

    &[variant="surface"] {
      border-radius: 4px;
      margin: 0 calc(var(--space-1) * -1);

      &:hover {
        background: var(--neutral-3);
      }

      /* Passthrough visited styling to link contents */
      &:visited :where(p, span) {
        color: var(--color-subtype);
      }
    }
  }

  p {
    color: var(--color-type);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-3);
    letter-spacing: var(--type-spacing-3);
    line-height: var(--type-line-height-3);

    &[variant="large"] {
      color: var(--color-subtype);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-4);
      letter-spacing: var(--type-spacing-4);
      line-height: var(--type-line-height-6);
    }

    &[variant="muted"] {
      color: var(--neutral-8);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }

    &[variant="label"] {
      color: var(--neutral-12);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }
  }
  
  span {
    color: var(--color-type);
    font-family: var(--type-font-sans);
    font-size: var(--type-size-2);
    letter-spacing: var(--type-spacing-2);
    line-height: var(--type-line-height-2);

    &[variant="large"] {
      color: var(--color-type);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-3);
    }

    &[variant="note-link"] {
      color: var(--color-type);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-3);
      font-weight: 600;
      border-bottom: 1px solid var(--neutral-5);
      padding-bottom: 1px;
    }
  }

  time {
    &[variant="label"] {
      color: var(--neutral-12);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-1);
      letter-spacing: var(--type-spacing-1);
      line-height: var(--type-line-height-1);
    }
  }

  article-content {
    & h1 {
      padding-top: var(--space-6);
      padding-bottom: var(--space-4);
    }

    & h2 {
      padding-top: var(--space-6);
      /* padding-bottom: var(--space-1); */
    }

    & h3 {
      padding-top: var(--space-6);
      /* padding-bottom: var(--space-1); */
    }

    & p {
      color: var(--color-type);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-5);
    }
    & ul {
      list-style-position: outside;

      margin-left: var(--space-5);

      display: flex;
      flex-flow: column wrap;
      gap: var(--space-2);
    }

    /* Change the list style based on depth */
    & ul { list-style-type: disc; }
    & ul ul { list-style-type: circle; }
    & ul ul ul { list-style-type: square; }

    /**
     * Give nested list containers some extra padding
     * so they honor the list-item gap
     */
    & li > ul {
      padding-top: var(--space-2);
    }

    & li {
      color: var(--color-type);
      font-family: var(--type-font-sans);
      font-size: var(--type-size-3);
      letter-spacing: var(--type-spacing-3);
      line-height: var(--type-line-height-5);

      &::marker {
        font-size: var(--type-size-4);
      }
    }
  }

  pre {
    border-radius: 12px;
    overflow: hidden;

    & code {
      display: block;
      overflow-x: auto;
      padding: 1em;

      /*
      This is a hard-coded hack to get Atom One-Dark colors
      for the code block background 
      */
      color: #abb2bf;
      background: #282c34;
    }
  }

  code {
    font-size: var(--type-size-2);

    & span {
      color: inherit;
      font-family: inherit;
      font-size: var(--type-size-2);
      letter-spacing: inherit;
      line-height: inherit;
    }
  }
}