@layer fonts {
  @font-face {
    font-family: "Cal Sans";
    src: url("/fonts/CalSans-SemiBold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Bold.woff2");
    font-weight: 700;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-SemiBold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Medium.woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.woff2");
    font-weight: 400;
  }
}
