@layer layout {
  /* Presets */
  [layout~="row"] {
    display: flex;
    flex-flow: row nowrap;

    &[layout~="center"] {
      align-items: center;
    }

    &[layout~="top"] {
      align-items: start;
    }

    &[layout~="bottom"] {
      align-items: end;
    }

    &[layout~="center"] {
      align-items: center;
    }

    &[layout~="left"] {
      justify-content: start;
    }

    &[layout~="right"] {
      justify-content: end;
    }

    &[layout~="baseline"] {
      align-items: baseline;
    }
  }

  [layout~="col"] {
    display: flex;
    flex-flow: column nowrap;

    &[layout~="center"] {
      justify-content: center;
    }

    &[layout~="top"] {
      justify-content: start;
    }

    &[layout~="bottom"] {
      justify-content: end;
    }
  }

  [layout~="page"] {
    min-height: 100dvh;

    display: flex;
    flex-flow: column nowrap;

    & > :nth-child(2) {
      flex: 1;
    }
  }

  [layout~="frame"] {
    display: grid;
    grid-template:
        '. frame .'
      / minmax(0, 1fr) minmax(0, 900px) minmax(0, 1fr);

    container-type: inline-size;

    & > * {
      grid-area: frame;
    }

    & > * {
      @container (max-width: 900px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  [layout~="content-frame"] {
    width: 100%;
    max-width: 62ch;

    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
  }

  [layout~="box"] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  /* Width/height */
  [layout~="w-full"] {
    width: 100%;
  }

  [layout~="h-full"] {
    height: 100%;
  }



  /* Alignment */

  .center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .x-center { justify-content: center; }
  .y-center { justify-content: center; }

  /* Gap */
  .gap-1 { gap: var(--space-1) }
  .gap-2 { gap: var(--space-2) }
  .gap-3 { gap: var(--space-3) }
  .gap-4 { gap: var(--space-4) }
  .gap-5 { gap: var(--space-5) }
  .gap-6 { gap: var(--space-6) }
  .gap-7 { gap: var(--space-7) }
  .gap-8 { gap: var(--space-8) }
  .gap-9 { gap: var(--space-9) }

  [layout~="gap-1"] { gap: var(--space-1) }
  [layout~="gap-2"] { gap: var(--space-2) }
  [layout~="gap-3"] { gap: var(--space-3) }
  [layout~="gap-4"] { gap: var(--space-4) }
  [layout~="gap-5"] { gap: var(--space-5) }
  [layout~="gap-6"] { gap: var(--space-6) }
  [layout~="gap-7"] { gap: var(--space-7) }
  [layout~="gap-8"] { gap: var(--space-8) }
  [layout~="gap-9"] { gap: var(--space-9) }
  [layout~="row"][layout~="gap-auto"] { justify-content: space-between; }


  /* Padding */
  .p-1 { padding: var(--space-1); }
  .p-2 { padding: var(--space-2); }
  .p-3 { padding: var(--space-3); }
  .p-4 { padding: var(--space-4); }
  .p-5 { padding: var(--space-5); }
  .p-6 { padding: var(--space-6); }
  .p-7 { padding: var(--space-7); }
  .p-8 { padding: var(--space-8); }
  .p-9 { padding: var(--space-9); }

  .pt-1 { padding-top: var(--space-1); }
  .pt-2 { padding-top: var(--space-2); }
  .pt-3 { padding-top: var(--space-3); }
  .pt-4 { padding-top: var(--space-4); }
  .pt-5 { padding-top: var(--space-5); }
  .pt-6 { padding-top: var(--space-6); }
  .pt-7 { padding-top: var(--space-7); }
  .pt-8 { padding-top: var(--space-8); }
  .pt-9 { padding-top: var(--space-9); }

  .pb-1 { padding-bottom: var(--space-1); }
  .pb-2 { padding-bottom: var(--space-2); }
  .pb-3 { padding-bottom: var(--space-3); }
  .pb-4 { padding-bottom: var(--space-4); }
  .pb-5 { padding-bottom: var(--space-5); }
  .pb-6 { padding-bottom: var(--space-6); }
  .pb-7 { padding-bottom: var(--space-7); }
  .pb-8 { padding-bottom: var(--space-8); }
  .pb-9 { padding-bottom: var(--space-9); }

  .pl-1 { padding-left: var(--space-1); }
  .pl-2 { padding-left: var(--space-2); }
  .pl-3 { padding-left: var(--space-3); }
  .pl-4 { padding-left: var(--space-4); }
  .pl-5 { padding-left: var(--space-5); }
  .pl-6 { padding-left: var(--space-6); }
  .pl-7 { padding-left: var(--space-7); }
  .pl-8 { padding-left: var(--space-8); }
  .pl-9 { padding-left: var(--space-9); }

  .pr-1 { padding-right: var(--space-1); }
  .pr-2 { padding-right: var(--space-2); }
  .pr-3 { padding-right: var(--space-3); }
  .pr-4 { padding-right: var(--space-4); }
  .pr-5 { padding-right: var(--space-5); }
  .pr-6 { padding-right: var(--space-6); }
  .pr-7 { padding-right: var(--space-7); }
  .pr-8 { padding-right: var(--space-8); }
  .pr-9 { padding-right: var(--space-9); }

  .px-1 { padding-left: var(--space-1); padding-right: var(--space-1); }
  .px-2 { padding-left: var(--space-2); padding-right: var(--space-2); }
  .px-3 { padding-left: var(--space-3); padding-right: var(--space-3); }
  .px-4 { padding-left: var(--space-4); padding-right: var(--space-4); }
  .px-5 { padding-left: var(--space-5); padding-right: var(--space-5); }
  .px-6 { padding-left: var(--space-6); padding-right: var(--space-6); }
  .px-7 { padding-left: var(--space-7); padding-right: var(--space-7); }
  .px-8 { padding-left: var(--space-8); padding-right: var(--space-8); }
  .px-9 { padding-left: var(--space-9); padding-right: var(--space-9); }

  .py-1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
  .py-2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
  .py-3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
  .py-4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
  .py-5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
  .py-6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
  .py-7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
  .py-8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
  .py-9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }


  [layout~="p-1"] { padding: var(--space-1); }
  [layout~="p-2"] { padding: var(--space-2); }
  [layout~="p-3"] { padding: var(--space-3); }
  [layout~="p-4"] { padding: var(--space-4); }
  [layout~="p-5"] { padding: var(--space-5); }
  [layout~="p-6"] { padding: var(--space-6); }
  [layout~="p-7"] { padding: var(--space-7); }
  [layout~="p-8"] { padding: var(--space-8); }
  [layout~="p-9"] { padding: var(--space-9); }

  [layout~="pt-1"] { padding-top: var(--space-1); }
  [layout~="pt-2"] { padding-top: var(--space-2); }
  [layout~="pt-3"] { padding-top: var(--space-3); }
  [layout~="pt-4"] { padding-top: var(--space-4); }
  [layout~="pt-5"] { padding-top: var(--space-5); }
  [layout~="pt-6"] { padding-top: var(--space-6); }
  [layout~="pt-7"] { padding-top: var(--space-7); }
  [layout~="pt-8"] { padding-top: var(--space-8); }
  [layout~="pt-9"] { padding-top: var(--space-9); }

  [layout~="pb-1"] { padding-bottom: var(--space-1); }
  [layout~="pb-2"] { padding-bottom: var(--space-2); }
  [layout~="pb-3"] { padding-bottom: var(--space-3); }
  [layout~="pb-4"] { padding-bottom: var(--space-4); }
  [layout~="pb-5"] { padding-bottom: var(--space-5); }
  [layout~="pb-6"] { padding-bottom: var(--space-6); }
  [layout~="pb-7"] { padding-bottom: var(--space-7); }
  [layout~="pb-8"] { padding-bottom: var(--space-8); }
  [layout~="pb-9"] { padding-bottom: var(--space-9); }

  [layout~="pl-1"] { padding-left: var(--space-1); }
  [layout~="pl-2"] { padding-left: var(--space-2); }
  [layout~="pl-3"] { padding-left: var(--space-3); }
  [layout~="pl-4"] { padding-left: var(--space-4); }
  [layout~="pl-5"] { padding-left: var(--space-5); }
  [layout~="pl-6"] { padding-left: var(--space-6); }
  [layout~="pl-7"] { padding-left: var(--space-7); }
  [layout~="pl-8"] { padding-left: var(--space-8); }
  [layout~="pl-9"] { padding-left: var(--space-9); }

  [layout~="pr-1"] { padding-right: var(--space-1); }
  [layout~="pr-2"] { padding-right: var(--space-2); }
  [layout~="pr-3"] { padding-right: var(--space-3); }
  [layout~="pr-4"] { padding-right: var(--space-4); }
  [layout~="pr-5"] { padding-right: var(--space-5); }
  [layout~="pr-6"] { padding-right: var(--space-6); }
  [layout~="pr-7"] { padding-right: var(--space-7); }
  [layout~="pr-8"] { padding-right: var(--space-8); }
  [layout~="pr-9"] { padding-right: var(--space-9); }

  [layout~="px-1"] { padding-left: var(--space-1); padding-right: var(--space-1); }
  [layout~="px-2"] { padding-left: var(--space-2); padding-right: var(--space-2); }
  [layout~="px-3"] { padding-left: var(--space-3); padding-right: var(--space-3); }
  [layout~="px-4"] { padding-left: var(--space-4); padding-right: var(--space-4); }
  [layout~="px-5"] { padding-left: var(--space-5); padding-right: var(--space-5); }
  [layout~="px-6"] { padding-left: var(--space-6); padding-right: var(--space-6); }
  [layout~="px-7"] { padding-left: var(--space-7); padding-right: var(--space-7); }
  [layout~="px-8"] { padding-left: var(--space-8); padding-right: var(--space-8); }
  [layout~="px-9"] { padding-left: var(--space-9); padding-right: var(--space-9); }

  [layout~="py-1"] { padding-top: var(--space-1); padding-bottom: var(--space-1); }
  [layout~="py-2"] { padding-top: var(--space-2); padding-bottom: var(--space-2); }
  [layout~="py-3"] { padding-top: var(--space-3); padding-bottom: var(--space-3); }
  [layout~="py-4"] { padding-top: var(--space-4); padding-bottom: var(--space-4); }
  [layout~="py-5"] { padding-top: var(--space-5); padding-bottom: var(--space-5); }
  [layout~="py-6"] { padding-top: var(--space-6); padding-bottom: var(--space-6); }
  [layout~="py-7"] { padding-top: var(--space-7); padding-bottom: var(--space-7); }
  [layout~="py-8"] { padding-top: var(--space-8); padding-bottom: var(--space-8); }
  [layout~="py-9"] { padding-top: var(--space-9); padding-bottom: var(--space-9); }
}