:root {
  /* SHAPE */
  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;

  /* Width/Height */
  --page-width: 900px;

  /* COLOR */
  /* Palette */
  --neutral-1: #111111;
  --neutral-2: #191919;
  --neutral-3: #222222;
  --neutral-4: #2a2a2a;
  --neutral-5: #313131;
  --neutral-6: #3a3a3a;
  --neutral-7: #484848;
  --neutral-8: #606060;
  --neutral-9: #6e6e6e;
  --neutral-10: #7b7b7b;
  --neutral-11: #b4b4b4;
  --neutral-11-5: #D1D1D1;
  --neutral-12: #eeeeee;

  /* Palette usage mapping */
  --color-bg: var(--neutral-1);
  --neutral-strong: var(--neutral-12);
  --neutral-normal: var(--neutral-11-5);
  --neutral-muted: var(--neutral-11);
  --neutral-faint: var(--neutral-8);

  /* Brand tones */
  --color-discord: #5865F2;
  --color-marriagepact: rgba(255, 0, 59, 0.8);
  --color-twitter: #ffffff;
  --color-github: #fafbfc;
  --color-linkedin: #0A66C2;
  --color-google-docs: #4285F4;

  /* TYPOGRAPHY */
  /*
  Semantic Scale:
  - Text-mini
  - Text-sm
  - Text
  - Text-Lg
  - Heading-mini
  - Heading-sm
  - Heading
  - Heading-lg
  - Display

  Semantic weight:
  - Normal
  - Medium
  - Bold

  New semantic color:
  - Bright
  - Base
  - Muted
  - Faint
  */

  --type-size-1: 12px;
  --type-size-2: 14px;
  --type-size-3: 16px;
  --type-size-4: 18px;
  --type-size-5: 20px;
  --type-size-6: 24px;
  --type-size-7: 28px;
  --type-size-8: 35px;
  --type-size-9: 60px;

  --type-spacing-1: 0.0025em;
  --type-spacing-2: 0em;
  --type-spacing-3: 0em;
  --type-spacing-4: -0.0025em;
  --type-spacing-5: -0.005em;
  --type-spacing-6: -0.00625em;
  --type-spacing-7: -0.0075em;
  --type-spacing-8: -0.01em;
  --type-spacing-9: -0.025em;

  --type-line-height-1: 16px;
  --type-line-height-2: 20px;
  --type-line-height-3: 24px;
  --type-line-height-4: 26px;
  --type-line-height-5: 28px;
  --type-line-height-6: 30px;
  --type-line-height-7: 36px;
  --type-line-height-8: 40px;
  --type-line-height-9: 60px;

  --type-font-sans:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI (Custom)',
    Roboto,
    'Helvetica Neue',
    'Open Sans (Custom)',
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

@media (prefers-color-scheme: light) {
  :root {
    /* Color remap */
    --neutral-1: #fcfcfc;
    --neutral-2: #f9f9f9;
    --neutral-3: #f0f0f0;
    --neutral-4: #e8e8e8;
    --neutral-5: #e0e0e0;
    --neutral-6: #d9d9d9;
    --neutral-7: #cecece;
    --neutral-8: #bbbbbb;
    --neutral-9: #8d8d8d;
    --neutral-10: #838383;
    --neutral-11: #646464;
    --neutral-11-5: #424242;
    --neutral-12: #202020;

    --color-twitter: #14171a;
    --color-github: #181717;
  }
}