@layer utilities {
  /* Color */
  .color-neutral-1 { color: var(--neutral-1); fill: var(--neutral-1); }
  .color-neutral-2 { color: var(--neutral-2); fill: var(--neutral-2); }
  .color-neutral-3 { color: var(--neutral-3); fill: var(--neutral-3); }
  .color-neutral-4 { color: var(--neutral-4); fill: var(--neutral-4); }
  .color-neutral-5 { color: var(--neutral-5); fill: var(--neutral-5); }
  .color-neutral-6 { color: var(--neutral-6); fill: var(--neutral-6); }
  .color-neutral-7 { color: var(--neutral-7); fill: var(--neutral-7); }
  .color-neutral-8 { color: var(--neutral-8); fill: var(--neutral-8); }
  .color-neutral-9 { color: var(--neutral-9); fill: var(--neutral-9); }
  .color-neutral-10 { color: var(--neutral-10); fill: var(--neutral-10); }
  .color-neutral-11 { color: var(--neutral-11); fill: var(--neutral-11); }
  .color-neutral-12 { color: var(--neutral-12); fill: var(--neutral-12); }
}
