.is-readable-line-width {
    --file-margins: 4.5rem 0 0 0;
}

.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}