// FONTS ***********************************

@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-Bold.ttf');
  font-weight: 700;
}

$font: 'Gothic A1', sans-serif;

@mixin title {
  font-family: $font;
  font-weight: 700;
  color: $text-primary;
  font-size: 64px;
  line-height: 64px;
}

@mixin header {
  font-family: $font;
  font-weight: 600;
  color: $text-primary;
  font-size: 24px;
  line-height: 24px;
}

@mixin label {
  font-family: $font;
  font-weight: 700;
  color: $text-primary;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3px;
}

@mixin body {
  font-family: $font;
  font-weight: 400;
  color: $text-secondary;
  font-size: 14px;
  line-height: 24px;
}

@mixin link {
  font-family: $font;
  font-weight: 400;
  color: $text-primary;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}

// COLORS **********************************

$background: #151515;
$foreground: #202022;
$text-primary: #FFFFFF;
$text-secondary: #949495;


// STYLES **********************************

* {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, a,
ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.link-icon {
  margin-left: 8px;
}

.logo-icon {
  margin-right: 16px;
}

h2.header-mobile {
  display: none;
}

main {
  background-color: $background;
  max-width: 100vw;

  div.content-container {
    max-width: 1616px;
    margin: auto;
    padding: 88px;
    display: grid;
    grid-template-columns: 420px 1fr 3fr;
    grid-template-areas:
      'about . content';

    section.about {
      grid-area: about;
      position: fixed;
      width: 420px;

      h1 {
        @include title;
        margin-bottom: 32px;
      }

      p {
        @include body;
        line-height: 28px;

        a {
          @include link;
          text-decoration: underline;
        }
      }

      ul.headers {
        margin-top: 72px;

        li {
          @include label;
          height: 45px;
          color: $text-primary;
          opacity: 1;
          display: flex;
          align-items: center;


          button {
            font-family: $font;
            font-weight: 400;
            color: $text-primary;
            line-height: 10px;
            font-size: 10px;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: none;
            border: none;
            letter-spacing: 3px;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

          div.bar {
            display: inline-block;
            width: 24px;
            height: 1px;
            background-color: $text-secondary;
            margin: 0 16px;
          }
        }
      }

      div.links {
        margin-top: 72px;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        ul {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-left: 30px;

          li {
            margin-bottom: 20px;

            a {
              @include link;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    section.content {
      grid-area: content;

      div.experience {
        background: $foreground;
        padding: 40px;
        max-width: 600px;
        margin-bottom: 8px;

        p.company {
          @include label;
        }

        h3 {
          @include header;
          margin: 12px 0;
        }

        p {
          @include body;
          margin-bottom: 16px;
        }

        a {
          @include link;
        }
      }

      div.secondary {
        margin-top: 66px;

        div.experience {
          p.award {
            @include label;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            svg {
              margin-right: 15px;
            }
          }

          p.award-info {
            margin-bottom: 40px;
          }
        }

        a {
          display: flex;
          align-items: center;
        }
      }

      div.columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
        max-width: 600px;
      }

      div.tertiary {
        max-width: 600px;
        margin-top: 140px;

        div.card-open {
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 100px;

          div.logo-container {
            width: 120px;
            height: 120px;
            background: $foreground;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
          }

          div.info {
            flex: 1;

            h3 {
              @include header;
              margin-bottom: 12px;
            }

            p {
              @include body;
              margin-bottom: 12px;
            }

            h4 {
              @include label;
              margin-bottom: 20px;
            }

            a {
              @include link;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    div.content-container {
      padding: 32px;
      grid-template-columns: 420px 1fr 5fr;

      section.about {
        h1 {
          font-size: 48px;
          line-height: 1.25;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  h2.header-mobile {
    @include label;
    font-size: 12px;
    margin-bottom: 32px;
  }

  main {
    div.content-container {
      display: block;

      section.about {
        position: static;
        width: 100%;

        h1 {
          font-size: 46px;
        }

        ul.headers {
          display: none;
        }

        div.links {
          margin-top: 32px;
          margin-bottom: 66px;
        }
      }

      section.content {
        div.experience {
          max-width: none;

          h3 {
            line-height: 1.25;
          }
        }

        div.secondary {
          margin-top: 42px;

          h3 {
            line-height: 1.25;
          }
        }

        div.columns {
          max-width: none;
          grid-template-columns: 1fr;
          grid-row-gap: 8px;
        }

        div.tertiary {
          max-width: none;
          margin-top: 50px;

          h3 {
            line-height: 1.25;
          }

          div.card-open {
            div.logo-container {
              width: 80px;
              height: 80px;

              * {
                width: 45%;
                height: 45%;
              }
            }

            div.info {
              h3 {
                line-height: 1.25;
                font-size: 18px;
              }

              p {
                @include body;
                margin-bottom: 12px;
              }

              h4 {
                line-height: 1.25;
              }

              a {
                @include link;
              }
            }
          }
        }
      }
    }
  }
}