main#index {
  figure#profile {
    display: grid;
    grid-template:
      "avatar ." 6fr
      "avatar name" min-content
      "avatar ." 5fr
      "avatar handle" min-content
      "avatar ." 6fr
      / auto 1fr;
    grid-column-gap: var(--space-2);

    img {
      grid-area: avatar;
      aspect-ratio: 1 / 1;
      border-radius: 1000px;
      width: 50px;
    }

    img#pfp-deco {
      transform: scale(1.7) translateY(3px);
      filter: grayscale(90%);
      border-radius: 0;
    }

    figcaption {
      display: contents;

      span:nth-child(1) {
        grid-area: name;
        font-family: var(--text-sans);
        font-size: var(--text-size-3);
        letter-spacing: var(--letter-spacing-7);
        line-height: 1cap;
        font-weight: 400;
      }

      span:nth-child(2) {
        grid-area: handle;
        line-height: 1cap;

        a {
          font-family: var(--text-sans);
          font-size: var(--text-size-2);
          letter-spacing: var(--letter-spacing-7);
          line-height: 1cap;
          font-weight: 400;
          color: #76b6ff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  p {
    font-family: var(--text-serif);
    letter-spacing: var(--letter-spacing-7);
    margin-block: var(--line-height-3);

    a {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--neutral-8);
      text-underline-offset: 2px;

      &:hover {
        text-decoration-color: var(--neutral-10);
      }
    }

    svg {
      display: inline-block;
      height: 1em;
    }

    small {
      font-size: var(--text-size-2);
      letter-spacing: var(--letter-spacing-2);
      line-height: var(--line-height-2);
      margin-inline: 0.5rem;
      color: var(--neutral-10);
    }
  }

  ol {
    margin-block: 3.75em;

    @media (max-width: 500px) {
      margin-block: 2.5em;
    }

    li a {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: max-content 1fr max-content;
      grid-template:
        'icon . item . line . item-detail' auto
        / max-content var(--space-2) max-content var(--space-6) 1fr var(--space-6) max-content;
      align-items: center;
      width: auto;
      padding-block: calc(1.3em / 2);

      @media (max-width: 500px) {
        align-items: center;
        padding-block: calc(1.3em / 3);

        > .icon {
          grid-row: 1 / span 1;
          grid-column: 1 / span 1;
        }

        > .item {
          grid-row: 1 / span 1;
          grid-column: 2 / span 1;
        }

        div {
          display: none;
        }

        > .item-detail {
          grid-row: 2 / span 1;
          grid-column: 2 / span 1;
        }
      }

      > .icon {
        grid-area: icon;
      }

      > .item {
        grid-area: item;
        font-family: var(--text-serif);
        letter-spacing: var(--letter-spacing-7);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        min-width: 0;

        display: flex;
        flex-flow: row nowrap;
      }

      div {
        grid-area: line;
        height: 1px;
        background-color: var(--neutral-3);
      }

      > .item-detail {
        grid-area: item-detail;
        letter-spacing: var(--letter-spacing-7);
        font-family: var(--text-monospace);
        font-size: var(--text-size-2);
        letter-spacing: var(--letter-spacing-2);
        line-height: var(--line-height-2);
        color: var(--neutral-11);
      }

      .icon {
        width: 18px;
      }
    }

    @media (pointer: fine) {
      li a:hover {
        div {
          background-color: var(--neutral-6);
        }
        .item-detail {
          color: var(--neutral-11-5);
        }
      }

      &:has(a:hover) a:not(:hover) {
        .item {
          color: var(--neutral-10);
        }
        div {
          background-color: var(--neutral-2);
        }
        .item-detail {
          color: var(--neutral-9);
        }
      }
    }
  }

  #photos {
    gap: var(--space-2);
    display: flex;
    flex-flow: column nowrap;
    margin-block: 4.5em;

    @media (max-width: 500px) {
      margin-top: 2.5em;
      margin-bottom: 0;
      margin-inline: calc(-1 * var(--space-4));
    }

    img {
      content-visibility: auto;
      min-width: 0;
      width: 100%;

      /* Hacky selector that only matches on iOS Safari */
      @supports (hanging-punctuation: first) {
        /*
        Disable content-visibility on
        iOS Safari because it's broken with our
        layout rules
        */
        content-visibility: visible;
      }
    }
  }
}
