@keyframes reveal-background {
  from {
    background-color: transparent;
    border-color: transparent;
    backdrop-filter: blur(0px);
  }
  to {
    background-color: color-mix(
      in srgb,
      var(--neutral-2),
      transparent 10%
    );
    border-color: color-mix(
      in srgb,
      var(--neutral-6),
      transparent 10%
    );
    backdrop-filter: blur(5px);
  }
}

nav:has(~ main#photos) {
  align-items: center;
  justify-content: space-between;

  img#pfp-deco {
    transform: translateX(-24px);
    filter: grayscale(90%);
    border-radius: 0;
    object-fit: cover;
    object-position: top center;
    width: 100px;
    height: 50px;
    margin-bottom: -20px;
  }
}

main#photos {
  grid-column: 1 / span 3;

  --gap: var(--space-4);
  padding: var(--gap);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: var(--gap);

  > .track {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
  }

  img {
    width: 100%;
  }
}
