nav:has(~ main#photos) {
  align-items: center;
  justify-content: space-between;

  a {
    width: 100px;
    height: 50px;
    margin-bottom: -20px;

    @media (max-width: 500px) {
      margin-right: -60px;
    }

    img#pfp-deco {
      transform: translateX(-24px);
      filter: grayscale(90%);
      border-radius: 0;
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 100%;

    }
  }
}

main#photos {
  grid-column: 1 / span 3;

  --gap: var(--space-4);
  padding: var(--gap);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: var(--gap);

  > .track {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
  }

  img {
    width: 100%;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: var(--gap);
    grid-column-gap: initial;
    padding-inline: 0;
  }
}
