[data-rehype-pretty-code-figure] {
  background-color: var(--neutral-2);
  border-radius: 16px;
  margin: var(--space-5) calc(-1 * var(--space-4));
  border: 1px solid var(--neutral-6);

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  align-items: center;

  button {
    border: none;
    padding: var(--space-2);
    margin: var(--space-2);

    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    &:hover {
      background-color: var(--neutral-4);
    }

    &:active {
      background-color: var(--neutral-6);
    }

    .icon {
      aspect-ratio: 1 / 1;
      width: 18px;
      color: var(--neutral-11);
    }
  }

  .copy {
    /* Make sure copy button is always the topmost element so it's interactive */
    z-index: 1;
  }

  /*
  If there's a title in the block, align the copy button
  with the title. Otherwise align it with the top right of the
  pre content
  */
  &:has(> [data-rehype-pretty-code-title]) {
    [data-rehype-pretty-code-title] {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
    }

    .copy {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    pre {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;

      border-top: 1px solid var(--neutral-3);
      padding-top: var(--space-3);
      margin-left: var(--space-4);
      margin-right: var(--space-4);
      margin-bottom: var(--space-4);
    }
  }

  /*
  If there's a title in the block, align the copy button
  with the title. Otherwise align it with the top right of the
  pre content
  */
  &:not(:has(> [data-rehype-pretty-code-title])) {
    row-gap: 0;

    .copy {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    pre {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;

      margin: var(--space-4);
    }
  }
}

/* Use theme setup for syntax highlighting */
[data-rehype-pretty-code-figure]
  [data-rehype-pretty-code-title] {
  font-family: monospace;
  color: var(--neutral-11);
  margin: var(--space-2) var(--space-4);
}

[data-rehype-pretty-code-figure] pre {
  overflow: hidden;

  counter-reset: codeblock-line;

  ::selection {
    background-color: var(--neutral-6);
  }

  code {
    font-size: var(--text-size-2);
    display: block;
    width: 100%;
    overflow-x: auto;

    span {
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
    }
  }
}

/* Theme support */
pre [data-line] {
  color: var(--shiki-light);
}

pre,
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  pre,
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

:root[data-theme="dark"]
  :is(
    pre,
    code[data-theme*=" "],
    code[data-theme*=" "] span
  ) {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/* Line Number support */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"]
  > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"]
  > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"]
  > [data-line]::before {
  width: 2.25rem;
}

/* Terminal command $ support */
pre[data-language="bash"] [data-line]::before {
  content: "$";

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
