article {
  border-radius: 8px;
  max-width: 62ch;

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: var(--neutral-12);
  }

  time {
    font-size: var(--text-size-2);
    letter-spacing: var(--text-tracking-7);
    line-height: var(--text-leading-2);
    color: var(--neutral-11);
  }

  svg {
    width: 20px;
    aspect-ratio: 1 / 1;
    display: inline-block;
  }

  header {
    a {
      display: inline;
    }

    h1 {
      margin-bottom: var(--space-5);
      display: flex;
      align-items: center;
      gap: var(--space-2);
    }

    .icon {
      width: var(--space-4);
      fill: currentColor;

      &:is(.leaf, .plant, .tree) {
        color: #26997b;
      }

      &.pepper {
        color: #dd4425;
      }

      &.books {
        color: #0588f0;
      }

      &.moon {
        color: #5151cd;
      }
    }
  }

  &:not(:has(header)) :is(p, a) {
    font-size: var(--text-size-6);
    letter-spacing: var(--text-tracking-7);
    line-height: var(--text-leading-6);

    margin-bottom: var(--text-size-3);
  }

  a {
    color: #0d74ce;
    border: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    margin-bottom: -2px;

    &:hover {
      color: #0588f0;
      border-bottom: 1px solid currentColor;
    }

    &:visited {
      color: #5753c6;
    }

    &:visited:hover {
      color: #5151cd;
    }
  }

  a.keep-reading {
    display: block;
    margin-top: var(--space-5);
  }

  &:has(a.keep-reading) footer {
    margin-top: var(--space-3);
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--space-1);
    margin-top: var(--space-5);

    display: grid;
    grid-template:
      "time repost heart" min-content
      / 1fr min-content min-content;

    time {
      grid-area: time;
    }

    button:nth-child(1) {
      grid-area: repost;
    }

    button:nth-child(2) {
      grid-area: heart;
    }

    button {
      border: none;
      border-radius: 8px;
      padding: var(--space-2);

      /* Use the line height of the contained svg icon */
      line-height: normal;

      &:hover {
        background: var(--neutral-4);
      }

      &:active {
        background: var(--neutral-5);
      }
    }

    svg {
      color: var(--dark-9);
    }

    button[aria-pressed="true"] svg.i-repost * {
      color: #29a383;
    }

    button[aria-pressed="true"] svg.i-heart * {
      color: #e54666;
      fill: #e54666;
    }
  }
}

article .content {
  h1 {
    color: var(--neutral-12);
    font-family: var(--text-serif);
    font-size: var(--text-size-6);
    font-style: italic;
    letter-spacing: var(--text-tracking-6);
    line-height: var(--text-leading-6);
    margin-top: var(--space-5);
    margin-bottom: var(--space-4);
  }

  h2 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-3);

    color: var(--neutral-12);
    font-family: var(--text-serif);
    font-size: var(--text-size-5);
    font-style: italic;
    letter-spacing: var(--text-tracking-5);
    line-height: var(--text-leading-5);
    font-weight: 400;
  }

  h3 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-2);

    color: var(--neutral-12);
    font-family: var(--text-serif);
    font-size: var(--text-size-4);
    font-style: italic;
    letter-spacing: var(--text-tracking-4);
    line-height: var(--text-leading-4);
    font-weight: 400;
  }

  p {
    color: var(--neutral-12);
    font-family: var(--text-serif);
    font-size: var(--text-size-3);
    letter-spacing: var(--text-tracking-7);
    line-height: 1.6em;
    margin: var(--text-size-3) 0;
  }

  /*
  Paragraphs tags a list item should not be
  spaced like paragraphs
  */
  li > p {
    margin: 0;
  }

  a {
    color: #0d74ce;
    text-decoration: underline;
    border: none;
    margin: 0;
    padding: 0;

    &:hover {
      color: #0588f0;
    }

    &:visited {
      color: #5753c6;
    }

    &:visited:hover {
      color: #5151cd;
    }
  }

  strong {
    font-weight: 700;
  }

  ul,
  ol {
    list-style-position: outside;

    margin-left: var(--space-5);
  }

  & > :is(p + :is(ul, ol)) {
    /*
    Fix so that text that appears just above
    a list doesn't have added spacing
    */
    margin-top: calc(-1 * var(--space-2));
  }

  /* Change the list style based on depth */
  ul {
    list-style-type: disc;
  }
  ul > ul {
    list-style-type: circle;
  }
  ul > ul > ul {
    list-style-type: square;
  }

  /* Change the list style based on depth */
  ol {
    list-style-type: decimal;
  }
  ol > ol {
    list-style-type: lower-alpha;
  }
  ol > ol > ol {
    list-style-type: lower-roman;
  }

  ol a {
    &:hover {
      font-variation-settings: "wght" 400;
      text-decoration-color: inherit;
    }
  }

  li {
    color: var(--neutral-12);
    font-family: var(--text-serif);
    font-size: var(--text-size-3);
    letter-spacing: var(--text-tracking-7);
    line-height: 1.6em;
    margin-block: var(--space-1);
  }

  ul > li::marker {
    font-size: var(--text-size-3);
    color: var(--neutral-8);
  }

  ol > li::marker {
    color: var(--neutral-8);
  }

  blockquote {
    padding: var(--space-4) var(--space-5);
    background: var(--neutral-2);
    border-left: 1px solid var(--neutral-6);

    p {
      color: var(--neutral-11);
      margin: 0;
    }

    &.callout {
      .callout-icon {
        display: none;
      }
    }
  }

  pre {
    border-radius: 16px;
    overflow: hidden;
    margin: var(--space-5) 0;
    border: 1px solid var(--neutral-3);

    code {
      font-size: var(--text-size-2);
      display: block;
      width: 100%;
      overflow-x: auto;
      padding: 1em;
      margin: 0;

      /*
      This is a hard-coded hack to get Atom One colors
      for the code block background 
      */
      /* color: #abb2bf; */
      background-color: var(--shiki-dark-bg);

      span {
        font-family: inherit;
        font-size: var(--text-size-2);
        letter-spacing: inherit;
        line-height: inherit;
      }
    }
  }

  code {
    display: inline;
    font-size: var(--text-size-2);
    color: var(--neutral-12);
    background: var(--neutral-3);
    padding: 4px 6px;
    margin: -5px 0;
    border-radius: 5px;
  }

  /* Use dark mode for syntax highlighting */
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
