ol {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-2);

  &:has(li time + :is(h1, h2, h3, p, a)) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    grid-column-gap: var(--space-4);
    grid-row-gap: var(--space-3);
    align-items: center;

    li {
      display: contents;
    }
  }

  time {
    font-family: var(--text-monospace);
    font-size: var(--text-size-2);
    letter-spacing: var(--text-tracking-2);
    line-height: var(--text-leading-2);
    color: var(--neutral-11);
  }

  :is(h1, h2, h3, h4),
  a {
    color: var(--neutral-12);
    font-size: var(--text-size-3);
    letter-spacing: var(--text-tracking-3);
    line-height: var(--text-leading-3);
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  a {
  }
}
