main > header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  height: min-content;

  @media (max-width: 650px) {
    grid-template-columns: 1fr max-content 1fr;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    width: max-content;
    border-radius: 8px;

    font-size: var(--text-size-3);
    letter-spacing: var(--text-tracking-3);
    line-height: var(--text-leading-3);
    font-weight: 500;

    @media (pointer: fine) {
      transition: background-color 0.2s ease;
      padding: var(--space-2);

      &:hover {
        background: var(--neutral-3);
      }
    }

    @media (max-width: 650px) {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: subgrid;
      align-items: center;
      grid-column: 1 / span 2;
    }

    a {
      text-decoration: none;
      font-variation-settings: inherit;
    }

    a:has(img) {
      @media (max-width: 650px) {
        grid-column: 1 / span 1;
      }

      img {
        border-radius: 1000px;
      }
    }

    img {
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      height: 1lh;
      aspect-ratio: 1 / 1;

      @media (max-width: 500px) {
        height: 44px;
      }
    }

    address {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--space-1);

      @media (max-width: 650px) {
        display: none;
      }

      a {
        font-size: var(--text-size-1);
        letter-spacing: var(--text-tracking-1);
        line-height: var(--text-leading-1);
        color: var(--neutral-10);
      }
    }

    h1 {
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      font-weight: 500;

      @media (max-width: 650px) {
        grid-column: 2 / span 1;
      }
    }

    .icon {
      width: 16px;
    }
  }

  .settings {
    grid-column: 3 / span 1;
    justify-self: end;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-1);

    @media (max-width: 650px) {
      grid-column: 3 / span 1;
    }

    @media (max-width: 500px) {
      gap: var(--space-3);

      #bluesky {
        display: none;
      }
    }

    button,
    a {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--space-1);

      background-color: transparent;
      border: none;
      border-radius: 8px;
      padding: var(--space-2);

      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-2);
      line-height: var(--text-leading-2);
      font-weight: 400;

      transition: background-color 0.2s ease;

      @media (max-width: 650px) and (pointer: coarse) {
        border: 1px solid var(--neutral-6);
        border-radius: 1000px;
        margin: 0;
      }

      &:hover {
        text-decoration: none;
        font-variation-settings: inherit;

        @media (pointer: fine) {
          background-color: var(--neutral-3);
        }
      }

      .icon {
        width: 20px;
        aspect-ratio: 1 / 1;
        stroke-width: 1px;
        color: var(--neutral-12);
        fill: var(--neutral-12);

        @media (max-width: 500px) {
          width: 20px;
          margin: 4px;
        }
      }
    }
  }
}
