html {
  /* On <html> so overscroll on mac is colored */
  background-color: var(--neutral-1);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

/* Smooth animate theme color changes */
* {
  transition:
    color 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  background-color: var(--neutral-1);
  padding-top: 10dvh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr max-content 1fr;

  > main {
    max-width: 62ch;
    grid-column: 2 / span 1;
  }
}
