html {
  background: var(--neutral-1);
}

body {
  background: var(--neutral-1);

  padding: var(--space-5);

  display: grid;
  grid-auto-flow: column;
  grid-template:
    '. main .' 1fr
    / 1fr 100% 1fr;

  > main {
    grid-area: main;
  }
}