html {
  /* On <html> so overscroll on mac is colored */
  background-color: var(--neutral-1);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

/* Smooth animate theme color changes */
* {
  transition:
    color 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  background-color: var(--neutral-1);
  max-width: 1440px;
  /*
  min = padding on mobile
  max = arbitrary top/bottom padding that looked good
  middle = when in between min and max, just shrink some fractional unit
           towards the min
  */
  margin-block: clamp(var(--space-4), calc(100dvw - 62ch), 10dvh);
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(var(--space-4), 1fr) minmax(0, 62ch) minmax(var(--space-4), 1fr);

  > main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  > aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}
