html {
  /* On <html> so overscroll on mac is colored */
  background-color: var(--neutral-1);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

/* Smooth animate theme color changes */
* {
  transition:
    color 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  background-color: var(--neutral-1);
  max-width: 1440px;
  /*
  min = padding on mobile
  max = arbitrary top/bottom padding that looked good
  middle = when in between min and max, just shrink some fractional unit
           towards the min
  */
  margin-block: var(--space-4);
  margin-inline: auto;
  display: grid;
  grid-template-rows: min-content clamp(0px, calc(100dvw - 62ch), 6dvh) auto 1fr;
  grid-template-columns: minmax(var(--space-4), 1fr) minmax(0, 62ch) minmax(var(--space-4), 1fr);

  > nav {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  > main {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  > aside {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin-inline: var(--space-4);

  button {
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: var(--neutral-10);

    &:hover {
      background-color: var(--neutral-3);
      color: var(--neutral-12);
    }

    .icon {
      width: 18px;
      aspect-ratio: 1 / 1;
    }
  }
}
