@layer theme {
  :root {
    /* Color */
    --text-color-bright: var(--neutral-12);
    --text-color-neutral: var(--neutral-11-5);
    --text-color-muted: var(--neutral-11);
    --text-color-faint: var(--neutral-8);

    /* Size */
    --text-size-1: 0.75rem;
    --text-size-2: 0.875rem;
    --text-size-3: 1rem;
    --text-size-4: 1.125rem;
    --text-size-5: 1.25rem;
    --text-size-6: 1.5rem;
    --text-size-7: 1.75rem;
    --text-size-8: 2.1875rem;
    --text-size-9: 3.75rem;

    /* Letter spacing */
    --text-tracking-1: 0.0025em;
    --text-tracking-2: 0em;
    --text-tracking-3: 0em;
    --text-tracking-4: -0.0025em;
    --text-tracking-5: -0.005em;
    --text-tracking-6: -0.00625em;
    --text-tracking-7: -0.0075em;
    --text-tracking-8: -0.01em;
    --text-tracking-9: -0.025em;

    /* Line Height */
    --text-leading-1: 1rem;
    --text-leading-2: 1.25rem;
    --text-leading-3: 1.5rem;
    --text-leading-4: 1.625rem;
    --text-leading-5: 1.75rem;
    --text-leading-6: 1.875rem;
    --text-leading-7: 2.25rem;
    --text-leading-8: 2.5rem;
    --text-leading-9: 3.75rem;

    /* Font */
    --text-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)",
      Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";

    --text-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

    --text-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;

    /* Defaults */
    h1 {
      font-family: var(--text-sans);
      font-size: var(--text-size-7);
      letter-spacing: var(--text-tracking-7);
      line-height: var(--text-leading-7);
      font-weight: 500;
      color: var(--text-color-bright);
    }

    h2 {
      font-family: var(--text-sans);
      font-size: var(--text-size-6);
      letter-spacing: var(--text-tracking-6);
      line-height: var(--text-leading-6);
      font-weight: 500;
      color: var(--text-color-bright);
    }

    h3 {
      font-family: var(--text-sans);
      font-size: var(--text-size-5);
      letter-spacing: var(--text-tracking-5);
      line-height: var(--text-leading-5);
      font-weight: 500;
      color: var(--text-color-bright);
    }

    a {
      display: inline-block;
      width: fit-content;
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      font-weight: 400;
      color: var(--text-color-bright);
    }

    /* If an anchor is within other text, adopt that texts styles */
    :where(h1, h2, h3, p, li) > a {
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      font-weight: inherit;
    }

    p,
    li {
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      font-weight: 400;
      color: var(--text-color-bright);
    }

    span {
      display: inline-block;
      width: fit-content;
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      font-weight: 400;
      color: var(--text-color-bright);
    }

    /* If a span is within other text, adopt to that texts styles */
    :where(h1, h2, h3, p, li) > span {
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
    }

    strong {
      font-weight: 700;
    }

    label {
      font-family: var(--text-sans);
      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-2);
      line-height: var(--text-leading-2);
      font-weight: 400;
      color: var(--text-color-muted);
    }

    small {
      display: inline-block;
      width: fit-content;
      font-family: var(--text-sans);
      font-size: var(--text-size-1);
      letter-spacing: var(--text-tracking-1);
      line-height: var(--text-leading-1);
      font-weight: 400;
      color: var(--text-color-faint);
    }

    time {
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);
      font-weight: 400;
      color: var(--text-color-bright);
    }

    code {
      display: inline-block;
      width: fit-content;
      font-family: var(--text-monospace);
      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-2);
      line-height: var(--text-leading-2);
      font-weight: 400;
      color: var(--text-color-bright);
      background: var(--neutral-4);
    }

    pre code {
      display: block;
    }
  }
}
