@layer elements {
  svg.icon {
    &, &[ui-color="bright"] { fill: var(--text-color-bright); }
    &[ui-color="muted"] { fill: var(--text-color-muted); }
    &[ui-color="faint"] { fill: var(--text-color-faint); }


    &[ui-interactions~="hover"] {
      transition: fill 0.6s cubic-bezier(0.16, 1, 0.3, 1);

      &:hover {
        fill: var(--text-color-bright);
      }
    }

    a[aria-current] &[ui-interactions~="current-link"] {
      fill: var(--text-color-bright);
    }

    *:visited &[ui-interactions~="visit"] {
      fil: var(--text-color-bright);
    }
  }
}