aside {
  justify-self: center;
  position: sticky;
  top: 10dvh;
  height: max-content;

  @media (max-width: 900px) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    position: static;
    margin-bottom: var(--space-4);
    margin-block: clamp(var(--space-4), calc(100dvw - 62ch), 5dvh);
    justify-self: start;
  }

  a[href="/home"] {
    color: var(--neutral-10);
    font-family: var(--text-serif);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-2);
    font-style: italic;
    font-weight: 500;

    &:hover {
      color: var(--neutral-12);
    }

    svg {
      aspect-ratio: 1 / 1;
      width: 1cap;
    }
  }
}

main#entry {
  header h1 {
    font-size: var(--text-size-5);
    letter-spacing: var(--text-tracking-8);
    line-height: var(--text-leading-5);
    font-weight: 400;
    margin-bottom: 0;
  }

  article {
    @media (max-width: 650px) {
      max-width: calc(100dvw - var(--space-4) - var(--space-4));
      /* pre {
        width: calc(100dvw - var(--space-4) - var(--space-4));
      } */
    }
    table {
      display: none;
    }

    header {
      margin-bottom: var(--space-6);

      h1 {
        margin-bottom: 0;
      }
    }
  }
}
