main#entry {
  article {
    margin-top: var(--space-8);
    margin-left: auto;
    margin-right: auto;

    header {
      margin-bottom: var(--space-6);

  
      h1 {
        margin-bottom: var(--space-2);
      }
    }
  }
}