main#home {
  #profile {
    display: grid;
    grid-template:
      'avatar .' 3fr
      'avatar name' min-content
      'avatar .' 2fr
      'avatar handle' min-content
      'avatar .' 3fr
      / auto 1fr;
    grid-column-gap: var(--space-2);
    
    img {
      grid-area: avatar;
      aspect-ratio: 1 / 1;
      border-radius: 1000px;
      width: 50px;
    }

    hgroup {
      display: contents;
    }

    h1 {
      grid-area: name;
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-7);
      line-height: 1cap;
      font-weight: 400;
    }

    h2 {
      grid-area: handle;
      font-family: var(--text-sans);
      color: var(--neutral-11);
      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-7);
      line-height: 1cap;
      font-weight: 400;
    }

    a {
      color: #76B6FF;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    font-family: var(--text-serif);
    letter-spacing: var(--text-tracking-7);
    margin-block: var(--text-leading-3);

    small {
      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-2);
      line-height: var(--text-leading-2);
      margin-inline: 0.5rem;
      color: var(--neutral-10);
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    margin-block: 3.75em;
    gap: 0;

    li {
      a {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: auto 1fr max-content;
        grid-column-gap: var(--space-6);
        align-items: center;
        width: auto;
        padding-block: calc(1.3em / 2);

        @media (max-width: 500px) {
          grid-template-rows: max-content max-content;
          grid-template-columns: auto;
          grid-row-gap: var(--space-1);
          padding-block: calc(1.3em / 3);

          span {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
          }

          div {
            display: none;
          }

          time {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
          }
        }

        span {
          order: 1;
          font-family: var(--text-serif);
          letter-spacing: var(--text-tracking-7);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          min-width: 0;
        }
        div {
          order: 2;
          height: 1px;
          background-color: var(--neutral-3);
        }
        time {
          order: 3;
          letter-spacing: var(--text-tracking-7);
          font-family: var(--text-monospace);
          font-size: var(--text-size-2);
          letter-spacing: var(--text-tracking-2);
          line-height: var(--text-leading-2);
          color: var(--neutral-11);
        }
      }
    }

    @media (pointer: fine) {
      li a:hover {
        div {
          background-color: var(--neutral-6);
        }
        time {
          color: var(--neutral-11-5);
        }
      }

      &:has(a:hover) a:not(:hover) {
        span {
          color: var(--neutral-10);
        }
        div {
          background-color: var(--neutral-2);
        }
        time {
          color: var(--neutral-9);
        }
      }
    }
  }

  #photos {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: var(--space-3);
    margin-block: 4.5em;

    > div {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--space-3);

      img {
        content-visibility: auto;
        min-width: 0;
        width: 100%;
      }
    }

    @media (pointer: fine) {
      img {
        transition:
          transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
          opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
      }

      img:hover {
        transform: scale(1.5);
        z-index: 2;
      }

      &:has(img:hover) img:not(:hover) {
        opacity: 50%;
      }
    }
  }

  @media (max-width: 500px) {
    ol {
      margin-block: 2.5em;
    }

    #photos {
      margin-top: 2.5em;
      margin-bottom: 0;
      margin-inline: calc(-1 * var(--space-4));
    }
  }
}


/* @keyframes fade-in-stagger {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.animated {
  opacity: 0;
  position: relative;
  top: 20px;
  animation: fade-in-stagger 0.5s forwards;
  animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  animation-delay: calc(0.5s + var(--i, 0) * 0.075s);
} */