#index {
  display: grid;
  grid-template:
    'header header header' 2fr
    '. card .' max-content
    '. sub-card .' 1fr
    '. . .' 1fr
    / 1fr max-content 1fr;
  
  header { grid-area: header; }
  .settings {
    grid-area: settings;
    place-self: start end;
  }
  .card { grid-area: card };
  .sub-card { grid-area: sub-card }

  .card {
    padding: var(--space-5) var(--space-6);
    width: 500px;
    aspect-ratio: 16 / 9;

    background-image: url('/img/card-gradient.jpg');
    background-color: var(--dark-1);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 0.1);

    display: grid;
    grid-template:
      'heading' max-content
      'social' max-content
      '.' 1fr
      'details' max-content
      / 1fr;

    h1 { grid-area: heading; }
    .social { grid-area: social; }
    dl { grid-area: details; }

    h1 {
      font-size: var(--text-size-6);
      color: var(--dark-12);
    }

    .social {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--space-2);

      a {
        background-color: transparent;
        padding: var(--space-1);
        border-radius: 4px;

        &:hover { background-color: rgb(255 255 255 / 0.13) }

        .icon {
          width: 20px;
          aspect-ratio: 1 / 1;
          color: var(--dark-12);
          circle { fill: var(--dark-12); }
        }
      }
    }

    dl {
      margin-top: auto;

      display: grid;
      grid-template:
        'first-label .'max-content
        'first-content .' max-content
        '. .' var(--space-3)
        'second-label third-label' max-content
        'second-content third-content' max-content
        / 1fr 1fr;
      
      :nth-child(1) { grid-area: first-label; }
      :nth-child(2) { grid-area: first-content; }
      :nth-child(3) { grid-area: second-label; }
      :nth-child(4) { grid-area: second-content; }
      :nth-child(5) { grid-area: third-label; }
      :nth-child(6) { grid-area: third-content; }

      dt {
        font-size: var(--text-size-1);
        color: var(--dark-11);
        text-transform: uppercase;
      }

      dd, a {
        font-size: var(--text-size-4);
        color: var(--dark-12);
      }

      a {
        &:hover {
          text-decoration: underline;
          text-decoration-style: wavy;
          text-decoration-color: #D9D9D9;
          text-underline-offset: 4px;
        }
        border: none;
      }
    }
  }

  .squiggle {
    stroke-width: 1.5px;
    stroke: #E1D9FF;
    width: 500px;
    height: 10px;
    margin: var(--space-5) 0 var(--space-4) 0;
  }

  .links {
    margin-top: var(--space-2);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-1);
    justify-content: center;

    a {
      flex: 1;
      color: var(--neutral-12);
      border-radius: 4px;
      padding: var(--space-1) 0;

      display: flex;
      flex-flow: row nowrap;
      gap: var(--space-1);
      align-items: center;
      justify-content: center;

      border: 1px solid var(--neutral-6);
      &:hover { border: 1px solid var(--neutral-7); }
      &:active { border: 1px solid var(--neutral-8); }

      .icon {
        width: 20px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

cursor-tracker {
  display: block;

  transform:
    perspective(5000px)
    rotateY(var(--rotateX))
    rotateX(var(--rotateY));
  
  --strength: 9;
}
