#index {
  section#welcome header {
    display: block;

    span:first-child {
      display: inline-block;
      font-size: var(--space-9);
      margin-bottom: var(--space-7);
    }
  }
}

cursor-tracker {
  display: block;

  transform:
    perspective(5000px)
    rotateY(var(--rotateX))
    rotateX(var(--rotateY));

  --strength: 9;
}
