:where(main#note) {
  header {
    margin-bottom: var(--space-6);

    h1 {
      margin-bottom: var(--space-2);
    }

    time {
      font-size: var(--text-size-2);
      line-height: var(--text-leading-2);
      letter-spacing: var(--text-tracking-2);
      color: var(--text-color-muted);
    }
  }

  article-content {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-5);

    h1 {
      color: var(--text-color-bright);
      font-size: var(--text-size-7);
      letter-spacing: var(--text-tracking-7);
      line-height: var(--text-leading-7);
      margin-top: var(--space-5);
      font-weight: 500;
    }

    h2 {
      margin-top: var(--space-4);

      color: var(--text-color-bright);
      font-family: var(--text-sans);
      font-size: var(--text-size-6);
      letter-spacing: var(--text-tracking-6);
      line-height: var(--text-leading-6);
      font-weight: 500;
    }

    h3 {
      margin-top: var(--space-6);

      color: var(--text-color-bright);
      font-family: var(--text-sans);
      font-size: var(--text-size-5);
      letter-spacing: var(--text-tracking-5);
      line-height: var(--text-leading-5);
      font-weight: 500;
    }

    p {
      color: var(--text-color-neutral);
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-5);
    }

    a {
      display: inline;
      color: var(--text-color-bright);
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-5);
      border-bottom: 1px solid var(--neutral-9);
      font-weight: 700;
    }

    strong {
      font-weight: 700;
    }

    ul {
      list-style-position: outside;

      margin-left: var(--space-5);

      display: flex;
      flex-flow: column wrap;
      gap: var(--space-2);
    }

    p + ul {
      /*
      Fix so that text that appears just above
      a list doesn't have added spacing
      */
      margin-top: calc(-1 * var(--space-4));
    }

    /* Change the list style based on depth */
    ul { list-style-type: disc; }
    ul ul { list-style-type: circle; }
    ul ul ul { list-style-type: square; }

    /**
     * Give nested list containers some extra margin
     * so they honor the list-item gap
     */
    li > ul {
      margin-top: var(--space-2);
    }

    li {
      color: var(--text-color-neutral);
      font-family: var(--text-sans);
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-4);
      line-height: var(--text-leading-5);

      &::marker {
        font-size: var(--text-size-4);
        color: var(--neutral-8);
      }
    }

    pre {
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid var(--neutral-5);
  
      code {
        font-size: var(--text-size-2);
        display: block;
        width: 100%;
        overflow-x: auto;
        padding: 1em;
  
        /*
        This is a hard-coded hack to get Atom One colors
        for the code block background 
        */
        color: #abb2bf;
        background: var(--neutral-2);

        @media (prefers-color-scheme: light) {
          & {
            color: #7f7f7f;
          }
        }
  
        span {
          font-family: inherit;
          font-size: var(--text-size-2);
          letter-spacing: inherit;
          line-height: inherit;
        }
      }
    }
  
    code {
      display: inline;
      font-size: var(--text-size-2);
      background: var(--neutral-4);
      padding: 5px 6px;
      margin: -5px 0;
      border-radius: 5px;
    }
  }
}