:where(main#notes) {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-6);

  section {
    h2 {
      font-size: var(--text-size-5);
      line-height: var(--text-leading-5);
      letter-spacing: var(--text-tracking-5);

      margin-bottom: var(--space-2);
    }
  }

  article {
    width: 100%;
    margin: 0 calc(-1 * var(--space-1));
    padding: var(--space-2) var(--space-1);

    display: grid;
    grid-template:
      'time title' 1fr
      / max-content auto;
    align-items: baseline;
    gap: var(--space-4);

    border-radius: 4px;

    &:hover {
      background: var(--neutral-3);
    }

    header { display: contents; }

    h3 {
      grid-area: title;
      font-size: var(--text-size-3);
      letter-spacing: var(--text-tracking-3);
      line-height: var(--text-leading-3);

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      /* Fix to ensure ellipsis works */
      a { display: inline; }
    }
    
    time {
      grid-area: time;
      font-family: var(--text-monospace);
      font-size: var(--text-size-2);
      letter-spacing: var(--text-tracking-2);
      line-height: var(--text-leading-2);
      color: var(--text-color-muted);
    }

    a { border-color: var(--neutral-5); }
    a:visited { color: var(--text-color-muted); }
  }
}